@media screen and (max-width: 1820px) {

    .skype_page .presentation {
        background-position: -5% bottom;
    }
}

@media screen and (max-width: 1688px) {
    .skype_page .presentation {
        background-position: -8% bottom;
    }
}

@media screen and (max-width: 1650px) {
    .skype_page .presentation {
        background-position: -10% bottom;
    }
}

@media screen and (max-width: 1610px) {
    .skype_page .presentation {
        background-position: -19% bottom;
    }
}

@media screen and (max-width: 1520px) {
    .header .contacts:before {
        width: 115%;
        right: -15%;
    }

    .skype_page .presentation {
        background-position: -25% bottom;
    }
}

@media screen and (max-width: 1440px) {
    .header .contacts:before {
        width: 110%;
        right: -10%;
    }

    .skype_page .presentation {
        background-position: -28% bottom;
    }
}

@media screen and (max-width: 1355px) {
    .header .contacts:before {
        width: 105%;
        right: -5%;
    }
}

@media screen and (max-width: 1280px) {
    .header .contacts:before {
        width: 100%;
        right: 0%;
    }
}

@media screen and (max-width: 1240px) {
    .container,
    .article .article_content h2,
    .article .article_content h3,
    .article .article_content h4,
    .article .article_content p {
        padding: 0 20px;
    }

    .article .article_content .article_info {
        margin: -100px 20px 70px;
    }

    /* Course */
    .courses .course_item .buttons {
        padding-right: 0;
    }

    .courses .course_item .course_composition,
    .course_item_modal .course_composition {
        flex: initial;
    }

    .courses .course_item .course_info {
        align-items: baseline;
    }

    .courses .course_item .title_wrap {
        padding: 0 50px;
    }

    /* Webinars */
    .webinars_page .webinar_lessons .video_lesson_item .video_info {
        flex-direction: column;
        align-items: flex-start;
    }

    .video_lessons_page .video_lesson_item .lesson_title {
        padding-right: 0;
    }

    .webinars_page .webinar_lessons .video_lesson_item .lesson_title {
        width: 100%;
        margin-bottom: 5px;
    }

    /*Blog */
    .blog .blog_item .image_block,
    .blog .blog_item .image_block a {
        height: 220px;
    }

    .blog .blog_item .image_block img {
        height: 100%;
        object-fit: cover;
    }

    .blog .blog_item:hover .image_block img {
        height: 390px;
    }

    .blog .blog_item:hover .image_block,
    .blog .blog_item:hover .image_block a {
        height: auto;
    }

    .blog .blog_item .short_description {
        padding-right: 0;
    }

    .blog .blog_item,
    .blog .blog_info,
    .blog .blog_item .image_block,
    .blog .blog_item .image_block a,
    .blog .blog_item .image_block img {
        transition: all 0.2s;
    }

}

@media screen and (max-width: 1185px ) {

    /* Course */
    .courses .course_item .price_wrap {
        margin-bottom: 15px;
    }

    /*Skype Page */
    .courses.skype_courses .course_item .buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 1120px) {
    .header .nav_side {
        width: 66.75%;
    }

    .flag .flag_icon {
        width: 300px;
    }

    /* Courses */
    .courses_page .course_item .buttons a {
        width: 200px;
    }

    /* Error page */
    .main_section.error {
        background-size: contain;
    }

    /* Online Test */
    .online_test .test_block .instruction {
        display: none;
    }

    .online_test .test_block .questions_side {
        width: 100%;
    }

    .main_section.online_test {
        padding-bottom: 100px;
    }

    .online_test .test_block.test_result .answer_statistic {
        width: 80%;
    }
}

@media screen and (max-width: 1060px) {
    .header .nav_side {
        width: 100%;
    }

    .header .main_menu {
        padding: 22px 20px 0;
    }

    .header .container {
        padding: 0;
    }

    .logo_side {
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 2;
    }

    .header .main_menu:before,
    .header .contacts:before {
        display: none;
    }

    .header .contacts {
        border-bottom: 1px solid #E2E2E2;
        padding: 14px 20px 16px;
    }

    .header .main_menu .submenu {
        left: 0;
    }

    .header .contacts .account {
        margin: 0 20px;
    }

    .presentation {
        padding-bottom: 100px;
    }

    .presentation .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .presentation .title_side {
        width: 85%;
        margin-bottom: 70px;
    }

    .presentation .title_side h1 {
        margin-bottom: 51px;
    }

    .presentation .video_block {
        margin-top: 0;
        width: 100%;
    }

    .presentation .video_block .substrate {
        max-height: 403px;
    }

    /* Courses */
    .courses_page .course_item .course_info {
        flex-direction: column;
    }

    /* Skype Page */
    .skype_page .presentation {
        background-image: none;
    }

    .skype_page .presentation .video_block {
        width: 100%;
    }

    .skype_page .presentation .title_side {
        width: 65%;
        margin-bottom: 35px;
    }

    .skype_page .presentation .title_side .flag {
        position: absolute;
        top: -130px;
        right: 44px;
    }

    .skype_page .presentation .title_side h1 {
        margin-bottom: 0;
    }

    .skype_page .presentation .video_block .substrate {
        max-height: 430px;
    }

    /* Article */
    .article .main_section .container {
        padding: 0;
    }

    .article .article_content .article_info .head_info,
    .article .article_content .article_title,
    .article .article_content .short_description,
    .article .article_content h2,
    .article .article_content h3,
    .article .article_content h4,
    .article .article_content p {
        width: auto;
    }

    .article .breadcrumds_wrapper {
        margin-bottom: 0;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 950px) {
    .main_section.grammar {
        background-image: none;
    }

    /* Grammar Page */
    .grammar_page .grammar_lesson .lesson_head {
        align-items: stretch;
        padding: 30px 65px 35px 60px;
        position: relative;
    }

    .grammar_page .grammar_lesson .lesson_body {
        padding: 28px 35px 40px;
    }


    .grammar_page .grammar_lesson .lesson_head .title_wrap {
        width: 50%;
        margin-bottom: 10px;
    }

    .grammar_page .grammar_lesson .lesson_head .price_wrap {
        width: 50%;
        margin-bottom: 15px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .grammar_page .grammar_lesson .lesson_head .course_info {
        order: 1;
    }

    .grammar_page .grammar_lesson .lesson_head .buy_btn {
        order: 2;
    }

    .more_details.mobile {
        display: block;
        position: absolute;
        bottom: 38px;
        font-size: 18px;
        color: #EB2136;
        padding-bottom: 6px;
        border-bottom: 1px solid #EB2136;
    }

    .grammar_page .grammar_lesson .lesson_body {
        padding-top: 28px;
    }

    .grammar_page .grammar_lesson .about_course .description {
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .footer {
        padding-bottom: 40px;
    }

    .footer .col-3.contacts_wrap {
        margin-top: 70px;
        width: 100%;
        order: 2;
        padding: 0;
    }

    .footer .request_wrap {
        width: 42%;
    }

    .footer .col-3.contacts_wrap .contacts {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .footer .col-3.contacts_wrap .contact.phone {
        order: -1;
    }

    .footer .col-3.contacts_wrap .contact.address {
        justify-self: flex-end;
    }


    /* Course */
    .main_section.courses {
        padding-bottom: 100px;
    }

    .courses .courses_list .course_item {
        width: 100%;
        margin-bottom: 70px;
    }

    .courses_page .course_item .course_info {
        justify-content: center;
        flex-direction: row;
    }

    .courses_page .course_item .buttons a {
        width: 240px;
    }


    .courses .course_item .course_info > div {
        flex: initial;
    }

    .courses .course_item .course_info .price_wrap {
        margin-right: 48px;
    }

    .courses_page .course_item .buttons {
        justify-content: center;
        padding-right: 0;
    }

    .courses_page .course_item .buttons .buy_btn {
        margin-right: 50px;
    }

    .courses .course_item .buttons .skype_btn.about {
        margin-left: 0;
    }

    .courses .course_item .price_wrap {
        margin-bottom: 0;
    }

    .courses.skype_courses .course_item .buttons {
        flex-direction: row;
    }

    .page_title .container {
        padding: 0;
    }

    .page_title .title {
        padding: 0 44px;
    }

    .page_title .course_category {
        padding-left: 44px;
    }

    /* Модальное окно О курсе*/
    .course_item_modal .content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .course_item_modal .about_course {
        width: 100%;
        padding: 50px 100px 70px 50px;
        order: 2;
    }

    .course_item_modal .image_wrap .image {
        padding-bottom: 53%;
    }

    /* Skype Page */
    .skype_page .presentation .title_side .flag {
        top: -100px;
    }

    .skype_page .presentation .flag_icon {
        width: 200px;
    }

    /* Webinars */
    .video_lessons_page .video_lesson_item,
    .blog .blog_item {
        width: 48%;
    }

    /* Article */
    .article .article_content .article_info {
        padding: 40px 54px 40px 54px;
    }

}

@media screen and (max-width: 880px) {
    .container,
    .article .article_content h2,
    .article .article_content h3,
    .article .article_content h4,
    .article .article_content p {
        padding: 0 44px;
    }

    .article .article_content .article_info {
        margin: -100px 44px 70px;
    }

    .logo_side {
        left: 44px;
    }

    .header .contacts {
        padding: 14px 44px 16px;
    }

    body {
        overflow-x: hidden;
    }

    body.lock {
        overflow: hidden;
    }

    body.lock .overlay_content {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background: rgba(34, 34, 34, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 3;
    }

    .header {
        overflow: hidden;
        position: static;
    }

    .header .test {
        margin-right: 105px;
    }

    .header .contacts {
        padding: 21px 44px;
    }

    .header .contacts .phone {
        margin-right: 67px;
    }

    .header .account {
        display: none;
        margin-right: 61px;
    }

    .header .account.mobile {
        display: inline-block;
    }

    .header .wrap {
        padding: 20px 44px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 90px;
    }

    .header .logo_side {
        top: 90px;
    }

    .header .wrap_mob {
        padding-bottom: 20px;
        position: fixed;
        width: 400px;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(200%, 0);
        background: #fff;
        transition: all 0.4s;
        z-index: 4;
    }

    .header.active .wrap_mob {
        overflow-y: auto;
        transform: translate(0, 0);
    }

    .header .wrap_mob .buttons,
    .header .wrap_mob .social_net.mobile {
        display: flex;
    }

    .header .wrap_mob .head {
        padding: 20px 44px 20px 21px;
    }

    .header.active {
        overflow: visible;
        position: relative;
        z-index: initial;
        background: transparent;
    }

    .header .logo.mobile {
        width: 183px;
        margin-bottom: 20px;
    }

    .header .logo.mobile {
        display: block;
        opacity: 0;
        transition: 0.5s;
    }

    .header.active .logo.mobile {
        opacity: 1;
    }

    .burger_menu {
        display: block;
        position: relative;
        cursor: pointer;
    }

    .wrap_mob .burger_menu.active {
        position: absolute;
        top: 35px;
        right: 44px;
    }


    .header .wrap_mob .buy_btn,
    .header .wrap_mob .skype_btn {
        width: auto;
        padding: 10px 20px 12px;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }

    .header .wrap_mob .buy_btn {
        background: #D22030;
        border-color: #D22030;
    }

    .header .wrap_mob .buy_btn:focus {
        background: #fff;
        color: #D22030;
    }

    .header .wrap_mob .skype_btn {
        background-color: #fff;
        border-color: #D22030;
    }

    .header .wrap_mob .skype_btn:focus {
        background-color: #D22030;
        color: #fff;
    }

    .header .wrap_mob .skype_btn {
        margin-left: 25px;
    }

    .header .wrap_mob .skype_btn {
        color: #222;
    }

    .header .wrap_mob .main_menu {
        padding: 0;
        margin-bottom: 37px;
    }

    .header .wrap_mob .main_menu .menu_list {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .wrap_mob .main_menu .menu_list li {
        display: block;
        width: 100%;
        padding: 8px 44px 11.5px 35px;
        font-size: 16px;
        line-height: 22px;
        border-bottom: 1px solid #FFF2F2;
        position: relative;
    }

    .header .main_menu .menu_item.has_dropdown:after {
        right: 44px;
        transform: rotate(-90deg);
        top: 15px;
    }

    .header .menu_list > .menu_item {
        padding-bottom: 0;
    }

    .header .main_menu .submenu {
        position: relative;
        height: 0;
        border-radius: 0;
        transition: 0.3s;
    }

    .header .main_menu .menu_list > .menu_item.has_dropdown.active {
        padding: 0;
    }

    .header .main_menu .menu_list > .menu_item.has_dropdown.active > a {
        padding: 8px 44px 11.5px 35px;
        display: block;
    }

    .header .main_menu .menu_list > .menu_item.has_dropdown.active .submenu {
        height: 100%;
    }

    .header .wrap_mob .main_menu .menu_list li a {
        padding-right: 0;
    }

    .header .main_menu .menu_item.has_dropdown > a:after {
        display: none;
    }

    .header .main_menu .menu_item.has_dropdown.active:after {
        transform: rotate(0deg);
    }

    .header .menu_list .submenu .menu_item a {
        width: auto;
        display: inline;
        padding: 0;
    }

    .header .wrap_mob .main_menu .menu_list li:last-of-type {
        border-bottom: none;
    }


    .header .main_menu .submenu {
        box-shadow: 0 1px 0px #FFF2F2;
    }

    .header .main_menu .menu_list > .menu_item.has_dropdown .submenu li {
        padding-left: 50px;
    }

    .header .wrap_mob .contacts {
        display: block;
        border-bottom: none;
        margin-bottom: 50px;
        padding: 0 0 0 39px;
    }

    .header .wrap_mob .contact {
        margin-bottom: 20px;
    }

    .header .wrap_mob .contact p,
    .header .wrap_mob .contact a {
        color: #EB2136;
        opacity: 0.9;
        font-weight: 400;
    }

    .header .wrap_mob .contact svg {
        fill: #EB2136;
    }

    .header .wrap_mob .contacts .phone {
        margin-right: 0;
    }

    .header .wrap_mob .social_net {
        padding: 0 35px;
    }

    .header .wrap_mob .social_net .left {
        border-right: 1px solid #222;
    }

    .flag .container {
        margin-top: 0;
        min-height: 126px;
    }

    .flag .slogan {
        bottom: 0;
        font-size: 20px;
    }

    .flag .flag_icon {
        width: 200px;
    }

    .presentation .title_side {
        width: 100%;
    }

    /* Courses */
    .main_section.courses {
        padding-top: 70px;
    }

    .course_category .category_list {
        overflow-x: scroll;
        width: 100%;
        flex-wrap: nowrap;
    }

    .course_category .category_list .category_item {
        white-space: nowrap;
        padding-bottom: 10px;
    }

    /* Grammar */
    .grammar_page .grammar_lesson {
        padding-bottom: 60px;
    }

    /* Article */
    .article .article_content .left,
    .article .article_content .right,
    .article .article_content .fullwidth_image {
        margin: 70px 0;
        border-radius: 0;
    }

    .article .article_content .left {
        border-radius: 0 4px 4px 0;
    }

    .article .article_content .right {
        border-radius: 4px 0 0 4px;
    }

    .article .article_content .article_title h1 {
        font-size: 24px;
    }

    .article .main_section {
        padding-bottom: 30px;
    }

    /* Error Page */
    .main_section.error {
        height: 870px;
    }

    .main_section.error .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Online test resiult */
    .online_test .test_block.test_result .answer_statistic {
        width: 100%;
    }

    .online_test .test_block.test_result .answer_statistic .correct:after {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .courses.skype_courses .course_item .buttons {
        flex-direction: column;
    }

    .courses.skype_courses .course_item .price_wrap {
        margin-bottom: 27px;
    }

    /*Online test */
    .online_test .test_block .options {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .presentation .title_side h1 {
        font-size: 30px;
    }

    .logo_side .logo_subtitle {
        display: none;
    }

    .footer {
        padding-bottom: 63px;
    }

    .footer .container {
        flex-direction: column;
    }

    .footer .request_wrap {
        order: -2;
        width: 100%;
        padding: 0;
        margin-bottom: 56px;
    }

    .footer .col-3.contacts_wrap {
        margin-top: 0;
        margin-bottom: 70px;
        order: -1;
    }

    .footer .col-3.contacts_wrap .contacts {
        display: flex;
        flex-direction: column;
    }

    .footer .col-3 {
        padding: 0;
    }

    .footer .copyright {
        margin-top: 35px;
    }

    .footer .copyright p {
        font-size: 16px;
    }

    /* Grammar Page */
    .grammar_page .grammar_lesson .lesson_head {
        padding: 30px 30px 60px 20px;
    }


    /* Article */
    .article .article_content .left,
    .article .article_content .right {
        height: 320px;
    }

    /* Error Page */

    .main_section.error {
        padding-top: 87px;
        height: auto;
        padding-bottom: 250px;
    }

}

@media screen and (max-width: 580px) {
    .header .wrap {
        padding: 20px;
    }

    .header .contacts {
        padding: 21px 20px;
    }

    .header .logo_side {
        left: 20px;
    }

    .container,
    .article .article_content h2,
    .article .article_content h3,
    .article .article_content h4,
    .article .article_content p,
    .page_title .title {
        padding: 0 20px;
    }

    .article .article_content .article_info {
        margin: -100px 20px 70px;
        padding: 20px 20px 44px;
    }

    .page_title .course_category {
        padding-left: 20px;
    }

    .header .contacts {
        justify-content: space-between;
    }

    .header .test,
    .header .contacts .phone {
        margin-right: 0;
    }

    /* Courses */
    .courses_page .course_item .buttons,
    .courses_page .course_item .course_info {
        justify-content: space-between;
    }

    .courses_page .course_item .buttons a {
        width: 200px;
    }

    .courses .course_item .course_info .price_wrap,
    .courses_page .course_item .buttons .buy_btn {
        margin-right: 20px;
    }

}

@media screen and (max-width: 550px) {
    .flag .container {
        min-height: 99px;
    }

    .flag .slogan {
        font-size: 16px;
    }

    .flag .flag_icon {
        width: 150px;
    }

    .presentation .title_side {
        margin-bottom: 50px;
    }

    .presentation .title_side h1 {
        margin-bottom: 40px;
    }

    .presentation .buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .presentation .buttons .buy_btn {
        margin-bottom: 20px;
    }

    .presentation .buttons .skype_btn {
        margin-left: 0;
    }

    .presentation .video_block .play_icon:before {
        width: 70px;
        height: 70px;
        top: calc(50% - 35.5px);
        left: calc(50% - 35.5px);
    }

    .presentation .video_block .play_icon {
        width: 56px;
        height: 56px;
        top: calc(50% - 28px);
        left: calc(50% - 28px);
    }

    .presentation .video_block .play_icon:after {
        width: 26px;
        height: 26px;
        top: calc(50% - 14px);
        left: calc(50% - 11px);
    }

    .presentation .video_block .substrate {
        margin-bottom: 0;
    }

    .presentation .video_block .short_descr {
        margin-top: 20px;
    }

    .breadcrumds_wrapper {
        padding-bottom: 30px;
    }

    .page_title .title,
    .article .article_content h2,
    .article .article_content h3,
    .article .article_content h4 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    /* Courses */
    .main_section.courses {
        padding-top: 45px;
    }

    /* Contact Form */
    .contact_form {
        padding: 70px 20px 42px;
    }

    .contact_form h4 {
        font-size: 20px;
        text-align: center;
    }

    .contact_form .subtitle {
        text-align: center;
        margin-bottom: 35px;
    }

    /* Skype page */
    .skype_page .presentation .title_side .flag {
        display: none;
    }

    .skype_page .presentation {
        padding-top: 0;
    }

    .skype_page .presentation .title_side {
        width: 100%;
    }

    .skype_page .presentation .title_side h1 {
        font-size: 24px;
    }

    .courses.skype_courses .courses_list .course_item {
        margin-bottom: 60px;
    }

    /* Error PAge */
    .main_section.error {
        height: 528px;
        padding-bottom: 0;
    }

    .main_section.error h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .breadcrumds_wrapper .breadcrumb li .breadcrumb_last {
        padding-right: 0;
    }

    .courses_page .course_item .course_info {
        flex-direction: column;
    }

    .courses .course_item .course_info .price_wrap {
        order: 2;
    }

    .courses .courses_list .image_wrap,
    .courses .course_item .course_composition {
        margin-bottom: 20px;
    }

    .courses .course_item .title_wrap {
        padding: 0 25px;
    }

    .courses .course_item .title_wrap h3 {
        font-size: 20px;
    }

    .courses .course_item .title_wrap {
        min-height: 80px;
    }

    .main_section.courses .subtitle {
        display: none;
    }

    /* Webinars */
    .video_lessons_page .video_lesson_item,
    .blog .blog_item {
        width: 100%;
        margin-bottom: 60px;
    }

    /* Grammar */
    .main_section.grammar .container {
        padding: 0;
    }

    .main_section.grammar .container .subtitle {
        padding: 0 20px;
    }

    /* Skype Course */
    .skype_page .page_title {
        padding-top: 50px;
    }

    /* Online test */
    .main_section.online_test {
        padding-top: 45px;
    }

    .online_test .test_block {
        padding: 45px 20px 60px;
    }

    .online_test .test_block .next_btn {
        margin: 0 auto;
    }

    .online_test .test_block .question_wrap h2 {
        font-size: 20px;
    }

    .online_test .test_block.test_result.failed .title h2 {
        font-size: 26px;
    }

    .online_test .test_block.test_result .title {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 480px) {
    /* Grammar */
    .grammar_page .grammar_lesson .lesson_head {
        flex-direction: column;
        padding-bottom: 123px;
    }

    .more_details.mobile {
        bottom: 60px;
    }

    .grammar_page .grammar_lesson .lesson_head .price_wrap {
        justify-content: flex-start;
        margin-bottom: 40px;
    }

    .grammar_page .grammar_lesson .lesson_head .course_info {
        order: initial;
        margin-bottom: 35px;
    }

    .grammar_page .grammar_lesson .lesson_head .title_wrap {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    /* Courses */
    .courses_page .course_item .buttons a {
        width: 150px;
    }

    .courses .course_item .buttons a {
        padding: 15px;
    }

    .courses .courses_list .image {
        padding-bottom: 89.2%;
    }

    .course_item_modal .image_wrap {
        display: none;
    }

    .course_item_modal .about_course {
        padding: 56px 20px 49px;
    }

    .course_item_modal .about_course .description {
        margin-bottom: 40px;
    }

    /* Article */
    .article .article_content .article_title h1,
    .article .article_content h2,
    .article .article_content h3,
    .article .article_content h4,
    .courses .course_item .price_wrap span {
        font-size: 20px;
    }

    .article .article_content .short_description {
        font-size: 17px;
    }

    .article .article_content p {
        font-size: 16px;
    }

    .article .article_content .left,
    .article .article_content .right {
        width: 100%;
        float: none;
    }

    /* Skype Page */
    .courses.skype_courses .course_item .course_info {
        flex-direction: column;
    }

    .courses.skype_courses .course_item .course_info .course_composition {
        order: -1;
        margin-bottom: 30px;
    }

    .courses.skype_courses .course_item .price_wrap p {
        font-size: 18px;
        margin-right: 13px;
    }

    .courses.skype_courses .course_item .price_wrap {
        white-space: nowrap;
    }

    .courses.skype_courses .course_item .title_wrap h3 {
        font-size: 18px;
    }

    /*Online test */
    .main_section.online_test .container {
        padding: 0;
    }

    .online_test .test_block .option {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {

    .logo_side {
        top: 90px;
    }

    .logo_side .logo,
    .header .logo.mobile {
        width: 150px;
    }


    .flag .flag_icon {
        width: 100px;
    }

    .footer .copyright p {
        font-size: 14px;
    }

}

@media screen and (max-width: 420px) {
    .header .wrap {
        padding: 12px 20px;
        min-height: initial;
        justify-content: space-between;
    }

    .header .test,
    .header .nav_side > .contacts .phone,
    .header .account.mobile {
        display: none;
    }

    .header .logo_side {
        top: 7px;
    }

    .header .contact.phone.mobile {
        display: flex;
        align-items: center;
        order: 2;
    }

    .header .contact.phone.mobile .phone_number {
        font-weight: 600;
        line-height: 1.4;
        text-transform: capitalize;
        color: #EB2136;
    }

    .header .contact.phone.mobile .phone_icon {
        margin-right: 15px;
        width: 14px;
        fill: #EB2136;
    }

    .header .nav_side > .contacts {
        padding: 7px 20px 8px;
        justify-content: flex-end;
    }

    .header .contacts .account {
        display: block;
        margin: 0;
    }

    .header .wrap_mob {
        width: 100%;
    }

    .header .wrap_mob .head {
        padding: 20px;
    }

    .header .wrap_mob .main_menu .menu_list li {
        padding-right: 20px;
    }

    .header .main_menu .menu_item.has_dropdown:after {
        right: 20px;
    }

    .header .wrap_mob .buy_btn,
    .header .wrap_mob .skype_btn {
        padding: 11px 14px;
        font-size: 10px;
        line-height: 14px;
    }

    .wrap_mob .burger_menu.active {
        right: 20px;
        top: 25px;
    }

    /* Courses */
    .courses_page .course_item .buttons a {
        width: 130px;
    }

    .page_title .title {
        font-size: 24px;
    }

    /* Grammar */
    .grammar_page .grammar_lesson {
        padding-bottom: 70px;
    }

    /* Blog */
    .main_section.blog .container {
        padding: 0;
    }

    .blog .blog_item .image_block a,
    .blog .blog_item .image_block {
        border-radius: 0;
    }

    .blog .blog_item .blog_info {
        padding: 0 20px;
    }

    /* Article */
    .article .artice_background {
        min-height: 260px;
    }


    .article .article_content .article_info {
        margin: 0 0 70px;
        border-radius: 0;
    }

    .article .article_content .article_info .head_info {
        margin-bottom: 30px;
    }

    .article .article_info .date {
        display: block;
        width: 40%;
    }

    .article .article_info .category {
        margin-right: 150px;
        margin-bottom: 28px;
    }

    .course_item_modal .about_course .buy_btn {
        margin: 0 auto;
    }

    /* Online test */
    .online_test .test_block .options {
        grid-template-columns: 60% 40%;
    }

    .online_test .test_block .questions_qty,
    .online_test .test_block .questions_qty span,
    .online_test .test_block.test_result .answer_statistic h3 {
        font-size: 14px;
    }

    .online_test .test_block.test_result .answer_statistic h3 {
        margin-bottom: 10px;
    }

    .online_test .test_block .questions_qty p {
        padding-left: 20px;
    }

    .online_test .test_block .next_btn,
    .course_item_modal .about_course .buy_btn {
        width: 280px;
    }
}

@media screen and (max-width: 380px){
    .online_test .test_block.test_result .answer_statistic {
        flex-direction: column;
        align-items: center;
    }

    .online_test .test_block.test_result .answer_statistic .correct {
        margin-bottom: 30px;
    }

    /* ERror Page */

    .main_section.error h3{
        font-size: 18px;
    }

}

@media screen and (max-width: 350px) {
    .logo_side .logo,
    .header .logo.mobile {
        width: 110px;
    }

    .header .contacts .account .acc_btn {
        padding: 7px 12px 8px 12px;
        font-size: 10px;
        line-height: 14px;
    }

    .header .logo.mobile {
        margin-bottom: 30px;
    }

    .header .wrap_mob .skype_btn {
        margin-left: 20px;
    }

    .header .social_net .left {
        padding-right: 5px;
    }

    .header .social_net .right {
        margin-left: 27px;
    }

    .header .social_net a {
        margin-right: 16px;
    }

    .course_item_modal .about_course .buy_btn {
        width: 270px;
    }

}
